@import '../index.scss';

.Info {
  background-color: $color1;
  color: $color2;
  border-radius: 15px;

  width: 300px;
  height: 300px;

  h2 {
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}
