@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: Roboto;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fef5ed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$color1: #99a799;
$color2: #fef5ed;
$color3: #7dd65d;
$color4: #c93d3d;

@mixin ItalicLightButton {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;

  line-height: 28px;
  letter-spacing: 0.1em;
}

@mixin BoldSmall {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}

@mixin BoldHeader {
  font-style: italic;
  font-weight: bold;
  font-size: 64px;
}
